<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Error auth</title>
    
    </head>
    <body >
        <h1>Error authenticating user</h1>
        Server returned us <%= message %><br/>
        <a href="/">Retry?</a>
    </body>
</html>