<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Page Title</title>
    
    </head>
    <body >
        <h1>Simple nimble client</h1>
        May be <a href="/auth/nimble">log in?</a>
    </body>
</html>